.revenue-hub{
    padding: 50px;
}
.container{
    background-color: #401366;
    display: flex;
    padding:50px 25px;
    color:white;
    border-radius: 75px 0px 300px 75px;
}

.block{
    width: 40%;
    padding:20px 10px;

}

.block h1{
    font-weight: 700;
    font-size:64px;
    line-height: 96px;
    margin-bottom:25px;
}

.p1{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 70px;
}

.p2{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.flex{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 20px 10px;
    flex-wrap:wrap;
}

.inner-flex{
    display:block;
    /* flex:1; */
    width:50%;
    /* padding:10px 10px; */

}

.inner-flex h1, img{
    padding:5px;
}

.CML, .CPL, .Billing, .DealRoom{
    display: flex;
}

.inner-flex-p{
    padding:0px 15px 15px 15px;
    font-weight: 400;
    font-size:18px;
    line-height: 27px;

}

.CPL h1{
    color:#FF9E00;
    font-weight: 700;
    font-size:28px;
    line-height: 42px;

}
.CML h1{
    color:#00FFE5;
    font-weight: 700;
    font-size:28px;
    line-height: 42px;

}
.Billing h1{
    color:#0084FF;
    font-weight: 700;
    font-size:28px;
    line-height: 42px;

}
.DealRoom h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size:28px;
    line-height: 42px;

}