.text-content{
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 52px; 
    font-weight: 800;
    padding:40px 200px;
    line-height: 72px;
    color:#250236;
    

}


@media screen and (max-width: 800px) {
    .text-content{
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 52px; 
        font-weight: 800;
        padding:100px 0px;
        line-height: 72px;

        
    
    }
  }